*,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #30010a;
}


/* bagian header*/

header {
    background-color: rgb(255, 255, 255);
    justify-self: unset;
    height: 70px;
    position: sticky;
}

nav {
    background-image: linear-gradient( #30010a, rgb(255, 0, 8));
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 8rem;
    height: 70px;
    position: fixed;
}

.brand {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
    font-size: 1.5em;
    text-transform: capitalize;
}

.firstname {
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 125%;
}

.lastname {
    color: rgb(255, 0, 8);
    font-weight: 1000;
    font-size: 125%;
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    padding: 8px 0;
    transition: all;
    transition-duration: 500ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
}

nav ul li a:hover {
    color: rgb(255, 0, 8);
    border-bottom: 1px solid #ffffff;
}


/* Bagian judul*/

.conainer {
    padding: 15px;
    margin-left: 135px;
    display: flex;
}

.slider {
    width: 600px;
    height: 250x;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 250px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    height: 250px;
}

.slide img {
    width: 600px;
    height: 250px;
}

.navigation-manual {
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.manual-btn {
    border: 2px solid rgb(255, 0, 8);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background: rgb(255, 0, 8);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


/*bagian teks*/

.text-judul {
    margin-left: 30px;
    font-size: 280%;
    font-weight: 260;
    color: rgb(255, 0, 8);
}

.deskripsi {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: normal;
}


/* bagian Konten */

.tai {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    width: 60%;
    border-radius: 50px;
    outline: none;
}

.top-up {
    padding: 20px;
    margin-left: 45px;
    color: rgb(255, 0, 8);
}

.top-up-bar {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 1px;
    margin-left: 60px;
    margin-right: 80px;
}

.link-games>a>img {
    background-color: none;
    padding: 8px;
    text-align: center;
    margin: 0;
    width: 185px;
    height: 250px;
    border-radius: 30px;
}

.link-games {
    background-color: none;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

.link-games>a>img:hover {
    background-color: rgb(255, 0, 8);
}


/* Bagian Footer */

.row {
    display: grid;
    margin-left: 60%;
    flex-wrap: wrap;
    margin-top: -19%;
}

.footer {
    background-image: linear-gradient( #30010a, rgb(255, 0, 8));
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-img {
    width: 40%;
    height: 30%;
    color: white;
    margin-left: 10%;
}

.footer-img img {
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;
}

.footer-col {
    width: 40%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 13px;
    font-weight: 1000;
    position: relative;
}

.footer-col ul li {
    list-style: none;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: rgb(255, 0, 8);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(255, 0, 8);
    background-color: white;
}

.footer-Img {
    width: 25%;
    height: 10%;
    padding: 0 15px;
}

.footer-coll {
    width: 40%;
    padding: 0 15px;
    margin-left: 50%;
    margin-top: -34%;
}

.footer-coll h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 13px;
    font-weight: 1000;
    position: relative;
}

.footer-coll ul li {
    list-style: none;
}

.footer-coll ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-coll ul li a:hover {
    color: rgb(255, 0, 8);
    padding-left: 8px;
}

.footer-lay {
    width: 40%;
    padding: 0 15px;
    margin-top: 25px;
}

.footer-lay h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 13px;
    font-weight: 1000;
    position: relative;
}

.footer-lay ul li {
    list-style: none;
}

.footer-lay ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-lay ul li a:hover {
    color: rgb(255, 0, 8);
    padding-left: 8px;
}
